header {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
}

table {
    font-size: 20px;
    padding: 10px;
    border: 5px solid gray;
    background-color: white;
}

.bgColour {
    background-color: rgb(6, 6, 44);
}

#gradesInputTable {
    width: 50%;
}

.centerButton {
    margin: 0 auto;
    text-align: center;
    border: thick solid black;
    background-color: white;
    width: 25%;
    padding: 10px;
}

.whiteText {
    color: aliceblue;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}